body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

.netflix-stick{
  width: 7vh;
  height: 30vh;
  background-color: #b1060f;
  position: relative;
}
.netflix-stick:before {
  content: "";
  position: absolute;
  width: 7vh;
  height: 30vh;
  background-color: #e50913;
  transform: skew(20deg);
  left: 5.5vh;
  box-shadow: 0 0 2.5vh -1vh black;
}
.netflix-stick:after {
  content: "";
  position: absolute;
  width: 7vh;
  height: 30vh;
  background-color: #b1060f;
  left: 11vh;
  z-index: -1;
}
.thing {
  width: 7.5vh;
  height: 2vh;
  position: absolute;
  background-color: black;
  bottom: -1vh;
  transform: rotateZ(-5deg);
}
.thing:before{
  content: "";
  width: 7.8vh;
  height: 2vh;
  position: absolute;
  background-color: black;
  bottom: -1vh;
  transform: rotateZ(12deg);
  left: 10.2vh;
  
}
  

button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #777;
  color: white;
}

header {
  background-color: #e4cef57b;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: sticky;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.loadBtn {
  margin-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  padding: 15px 10px 15px 10px;
  width: 100%;
  background-color: #e4cef57b;
  text-align: center;
}

.MovieList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.MovieCard {
  margin: 10px 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #e7d6ee72;
  border-radius: 8px;
  cursor: pointer;
  background-color: black;
  transition: box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.MovieCard:hover {
  background: #f1ecf3;
  border: 2px solid #e6cef5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#movieTitle {
  text-shadow: 2px 2px 0 #9d9db9;
  color: #6d5e8f;
}

#movieVoteAverage {
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
}

.movieImg {
  width: auto;
  height: 300px;
}

.modalImg {
  height: auto;
  width: 300px;
}

#searchBtn {
  background-color: #bfbfc1;
  margin-left: 5px;
}

.movieModal {
  position: fixed;
  top: 15%;
  left: 25%;
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

#closeModalBtn {
}
