body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #141414;
  color: #fff;
}

.layout {
  display: flex;
  min-height: 100vh;
}

h1,
h2,
#movieTitle {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

#mainMovieTitle {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
}

#modalTitle {
  font-size: 40px;
}

#movieVoteAverage {
  font-size: 17px;
  font-family: sans-serif;
}
/* Based on CodePen by hamdiye - https://codepen.io/hamdiye/pen/povPRQJ  */

.netflix-stick {
  width: 1.75vh;
  height: 7.5vh;
  background-color: #b1060f;
  position: relative;
}
.netflix-stick:before {
  content: "";
  position: absolute;
  width: 1.75vh;
  height: 7.5vh;
  background-color: #e50913;
  transform: skew(20deg);
  left: 1.375vh;
  box-shadow: 0 0 0.625vh -0.25vh black;
}
.netflix-stick:after {
  content: "";
  position: absolute;
  width: 1.75vh;
  height: 7.5vh;
  background-color: #b1060f;
  left: 2.75vh;
  z-index: -1;
}
/* .thing {
  width: 3.75vh;
  height: 1vh;
  position: absolute;
  background-color: black;
  bottom: -0.5vh;
  transform: rotateZ(-5deg);
}
.thing:before{
  content: "";
  width: 3.9vh;
  height: 1vh;
  position: absolute;
  background-color: black;
  bottom: -0.5vh;
  transform: rotateZ(12deg);
  left: 5.1vh;
  
}
   */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  color: #e50914;
  letter-spacing: 2px;
  transform: rotate(calc(var(--i) * 10deg));
  transform-origin: bottom center;
}

button {
  background-color: #e50914;
  color: white;
  border: none;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-right: 7px;
}

#likeButton {
  background-color: #e50914;
  color: white;
  border: none;
  font-size: 15px;
  transition: background-color 0.2s;
  margin-right: 7px;
  margin-top: 2px;
}

button:hover {
  background-color: #9e060d;
}

#loadMore {
  margin-top: 30px;
}
header {
  background-color: #0a0a0a;
  padding: 20px 20px;
  font-size: 1.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.loadBtn {
  margin-bottom: 20px;
}

footer {
  bottom: 0px;
  height: 30px;
  padding: 15px 10px 15px 10px;
  width: 100%;
  background-color: #e4cef57b;
  text-align: center;
}

.MovieList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.MovieCard {
  background-color: #222;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 280px;
  text-align: center;
}

.MovieCard:hover {
  background-color: #333;

  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

#movieTitle {
  font-size: 1.3rem;
  color: #fff;
  margin: 15px 10px 10px 10px;
  padding: 0 10px;
}

#movieVoteAverage {
  color: #bbb;
}

.movieImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 2px solid #e50914;
}

.modalImg {
  height: auto;
  width: 300px;
}

#searchBtn {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  transform: all 1s;
}
form:hover #searchBtn {
  background: #e50914;
  color: white;
}

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

form:hover {
  width: 300px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

.clearBtn {
  position: absolute;
  top: 0;
  right: 50px;
  height: 42.5px;
  padding: 0 10px;
  border: none;
  background: #bfbdbd;
  border-radius: 20px;
  font-size: 1em;
  display: none;
  cursor: pointer;
}
form:hover .clearBtn {
  display: block;
}

.movieModal {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  padding: 40px;
  border-radius: 12px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
}

.modalContent {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
}

.modalMedia {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.486);
  z-index: 999;
}
#closeModalBtn {
  padding: 20px 60px;
  font-size: 20px;
}
#watchedText {
  color: white;
}

.mainContent {
  flex: 1;
}

.sidebarDiv {
  display: none;
  width: 250px;
  background-color: #181818;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  border-right: 1px solid #333;
  transition: width 0.3s ease-in-out;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.sidebarDiv.sticky {
  position: sticky;
  top: 0;
}

.sidebarDiv h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.iconDiv {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: -20px;
}

.sidebarTitle {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
}

.dropbtn {
  background: #e50914;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-right: 7px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content option:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #9e060d;
}

@media (max-width: 1024px) {
  main {
    margin-left: 0;
  }

  footer {
    margin-left: 0;
  }

  .MovieList {
    gap: 20px;
  }

  .MovieCard {
    width: 250px;
  }
}

@media (max-with: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .bebas-neue-regular {
    font-size: 60px;
  }

  .MovieList {
    gap: 15px;
  }
  .MovieCard {
    width: 200px;
  }

  .movieImg {
    height: 300px;
  }

  .sidebarDiv {
    width: 0;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .sidebarDiv {
    width: 0;
    padding: 0;
  }
  .sidebarDiv.open {
    width: 200px;
    padding: 20px 8px;
  }
}
